<%= form_for task, remote: true do |t| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= t.text_field :title, required: 'required', placeholder: "Title" %></h3>

  <%= t.collection_select :user_id, User.all, :id, :name, prompt: "Assignee" %>
  
  <%= t.collection_select :platform_id, Platform.all, :id, :name, prompt: "Platform", include_blank: true %>

  <%= t.select :priority, Task::PRIORITY_LEVELS %>

  <%= t.select :status, Task::STATUS_LEVELS, prompt: "Status" %>

  <%= t.text_field :due_date, class: "datepicker", :value => task.due_date.try(:strftime, "%m/%d/%Y") %>
  <%#= t.text_field :due_date, class: "datepicker", placeholder: "Due Date" %>
  <%= t.hidden_field :due_date, class: "datepicker_db_format" %>


  
  <%= t.text_area :description, placeholder: "Task Description" %>

  <%= t.submit %>
  <%= link_to "Cancel", "#", class: "cancel_form_link" %>
<% end %>

