<h3>
  <% if item.class == Subtask %>
    #<%= item.task_id %>-<%= item.id %>: <%=  item.title %>
  <% else %>
    #<%= item.id %>: <%= item.title %>
  <% end %>
</h3>

<div id="content">

  <div class="form_detail">
    <span>Platform:</span>
        <%= item.platform.try(:name) %>
  </div>

  <div class="form_detail">
    <span>Priority:</span>
    <%= item.priority_name.capitalize %>
  </div>

  <div class="form_detail">
    <span>Assignee:</span>
    <%= item.user.name %>
  </div>

  <div class="form_detail">
    <span>Status:</span>
    <%= item.status.capitalize %>
  </div>

  <div class="form_detail">
    <span>Due Date:</span>
    <% if item.due_date.present? %>
      <%= item.due_date.strftime("%A, %B %-d, %Y") %>
    <% end %>
  </div>

  <div class="form_detail">
    <span>Description:</span>
    <%= item.description %>
  </div>

  <%= link_to "Edit Task", edit_item_url(item), class: "btn", id: "edit_link" %>
  <% if admin_user %>
    <%= link_to "Delete Task", item, method: :delete, remote: true, class: "btn" %>
  <% end %>
  <%= link_to "Cancel", "#", id:"cancel_link" %>

  <p class="timestamp">
    <% if item.created_at != item.updated_at %>
      Updated at: <%= item.updated_at.strftime("%A, %B %-d, %Y @ %I:%M%p") %>
    <% else %>
      Created at: <%= item.created_at.strftime("%A, %B %-d, %Y @ %I:%M%p") %> 
    <% end %>
  </p>

  <%= render 'form_ajax', task: item %>

</div>
