<h3>
  <% if item.class == Subtask %>
    #<%= item.task_id %>-<%= item.id %>: <%=  item.title %>
  <% else %>
    #<%= item.id %>: <%= item.title %>
  <% end %>
</h3>

<div id="content">

  Platform: <%= item.platform.try(:name) %>

  Priority: <%= item.priority_name.capitalize %>

  Assignee: <%= item.user.name %>

  Status: <%= item.status.capitalize %>

  Due Date:
    <% if item.due_date.present? %>
      <%= item.due_date.strftime("%A, %B %-d, %Y") %>
    <% end %>

  Description: <%= item.description %>

  <%= link_to "Edit Task", "#", class: "btn edit_link", id: "#{item.id}" %>
  <%= link_to "Cancel", "#", class: "cancel_show_link" %>

  <% if admin_user %>
    <%= link_to "Delete Task", item, method: :delete, remote: true, class: "btn" %>
  <% end %>
  

  <p class="timestamp">
    <% if item.created_at != item.updated_at %>
      Updated at: <%= item.updated_at.strftime("%A, %B %-d, %Y @ %I:%M%p") %>
    <% else %>
      Created at: <%= item.created_at.strftime("%A, %B %-d, %Y @ %I:%M%p") %> 
    <% end %>
  </p>

  <%= render 'form_ajax', task: item %>

</div>
