<tr id="item_<%= item.id %>">
    <%#= form_tag item, :method => "put" do %>
      <%#= select_tag :status, options_for_select(Task::STATUS_LEVELS, item.status), :name => "#{class_name(item)}[status]", :onchange => "this.form.submit();" %>
    <%# end %>
  <td class="priority">
    <span class="badge badge-<%= item.priority %>"><%= item.priority %></span>
  </td>
  <td class="title">
    <%= link_to "##{item.id} - #{item.platform.try(:name)}: #{item.title}", "#", class: "task_title", id: "#{item.id}" %>        
  </td>
  <td class="assignee">
    <%= item.user.name %>
  </td>
  <td class="due_date">
    <%= item.due_date.try(:strftime, "%-m/%-d/%y") %>
  </td>
</tr>
<% if item.class == Task %>
  <% if item.subtasks.present? %>
    <% item.subtasks.each do |subitem| %>
      <tr>
        <td></td>
        <td class="title">
          <span class="badge badge-<%= item.priority %>"><%= item.priority %></span>
          <%= link_to " ##{subitem.task_id}-#{subitem.id} - #{subitem.platform.try(:name)}: #{subitem.title}", subitem, id: "#{subitem.id}" %>
        </td>
        <td class="assignee"><%= subitem.user.name %></td>
        <td class="due_date">
          <%= subitem.due_date.try(:strftime, "%-m/%-d/%y") %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>