<span id="notice"><%= notice %></span>

<div id="task">
	<%= render 'task_show', :item => @task %>
</div>

<div id="subtask">
  <%= render 'subtasks_list' %>
</div>

<%= link_to "Return to Tasks", tasks_url %>


<p class="timestamp">
  <% if @task.created_at != @task.updated_at %>
    Updated at: <%= @task.updated_at.strftime("%A, %B %-d, %Y @ %I:%M%p") %>
  <% else %>
    Created at: <%= @task.created_at.strftime("%A, %B %-d, %Y @ %I:%M%p") %> 
  <% end %>
</p>
